html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: bisque;
    overflow-x: hidden;
}

header {
    background-color: #201f1f;
    color: #892525;
    text-align: center;
    padding: 20px 0;
}

main {
    flex: 1;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

footer {
    background-color: #201f1f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.header-logo {
    justify-content: center;
    display: flex;
    align-items: center;
}

.logo {
    width: 50px; /* Ajusta el tamaño según prefieras */
    height: 50px;
    border-radius: 50%;
    margin-right: 10px; /* Espacio entre el logo y el texto */
}

.menu {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.menu li {
    margin: 0 15px;
}

.menu a {
    text-decoration: none;
    color: #ccc;
}

.menu a:hover {
    text-decoration: underline;
}

@media (max-width: 600px) {
    main {
        padding: 15px;
    }
}
